p {
    display: none;
}

div:hover p {
    display: block;
}

#bloc {
    background: #676470;
    width: 150px;
    height: 80px;
    font-size: 3.4em;
    text-align: center;
    line-height: 80px;
    color: white;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    /* Step 2 */
    opacity: 0.5;
}

#bloc:hover {
    background: #53a7ea;
    color: black;
    /* Step 2 */
    opacity: 1;
    /* Step 3 */
    /* -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3); */
    /* Step 4 */
    -moz-transform:scale(1.3)rotate(20deg) ;
    -webkit-transform: scale(1.3)rotate(20deg);
    -o-transform: scale(1.3)rotate(20deg);
    -ms-transform: scale(1.3)rotate(20deg);
    transform: scale(1.3)rotate(20deg);
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
    -o-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}