form {
    border: 5px solid black;
    background: #fc8d32;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 20px;
    width: 400px;
}

form ol {
    padding: 0px;
}

form fieldset {
    border: none;
    margin-bottom: 10px;
}

form fieldset:last-of-type {
    margin-bottom: 0;
}

form legend {
    color: #6f3c13;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

form ol li {
    background: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.6);
    border-style: solid;
    border-width: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 30px;
    list-style: none;
    padding: 5px 10px;
    margin-bottom: 2px;
}

form label {
    float: left;
    font-size: 13px;
    width: 100px;
}

form input, form textarea {
    background: white;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    font: italic 14px Georgia, "Times New Roman", Times, serif;
    outline: none;
    padding: 5px;
    width: 220px;
}
form input:focus, form textarea:focus {
    background: #eaeaea;
}

form input:invalid {
    border: 2px solid red;
}

form input:valid {
    border: 2px solid green;
}