#container {
    display: flex;
    border: 1px solid black;
    /* Step 2 */
    
    /* flex-direction: column-reverse; */

    /* Step 3 */
    
    /* flex-wrap: wrap;
    width: 150px; */

    /* Step 4 */

    /* justify-content: space-around;
    flex-direction: column;
    min-height: 400px; */

    /* Step 5 */

    /* min-height: 400px;
    justify-content: center;
    align-items: center; */
}

#container div {
    border: 1px solid grey;
}

/* Step 5 */

/* #id2 {
    align-self: flex-end;
} */

/* Step 6 */

/* #id1 {
    flex: 1;
    order: 2;
}
#id2 {
    flex: 2;
    order: 1;
}
#id3 {
    order: 3;
} */