body {
    display: flex;
    flex-direction: column;

}

#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 50px 10px;
    padding: 20px;
}

#empty1 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    /* background-image: url(https://picsum.photos/800); */
    /* Step 2 */
    /* background-position: center;
    background-size: 90%; */
    
    /* Step 3 */
    background: url(https://picsum.photos/800) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#empty2 {
    width: 400px;
    height: 400px;
    border: 1px solid blue;
    background-image: url(images/265-200x200.jpg);
}

/* Step 4 */

#img1{
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8), inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* Step 5 */

#img2 {
    border-radius: 50%;
    transition: 0.5s;
}

#img2:hover {
    box-shadow: 0 0 25px yellow;
}

/* Step 6 */

.polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
    margin: auto;
}

.texte {
    text-align: center;
    padding: 10px 20px;
}

#pola {
    width: 100%;
    /* Step 7 */
    filter: grayscale(100%) blur(4px);
    transition: 0.5s ease-in-out;
}

/* Step 7 */
#pola:hover{
    filter: grayscale(0) blur(0);
}